

<div class="container-fluid">
  <nav class="nav-main">
    <ul class="nav flex-column nav-secundario">
      <div class="nav-inicio">
        <li class="nav-item">
          <a class="nav-link" >Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Link</a>
        </li>
      </div>
      <div class="nav-final">
        <li class="nav-item">
          <a class="nav-link">Link</a>
        </li>
      </div>

    </ul>
  </nav>
  <main class="main">
    <router-outlet></router-outlet>
  </main>
</div>
