.container-fluid{
    background-color: rgb(0, 0, 0);
    height: 100vh;
    display: flex;

}
.nav-main{
    background-color: rgb(0, 0, 0);
    width: 16vw;
}
.main{
    background-color:  rgb(255, 255, 255);
    width: 84vw;
    padding: 3%;
}
.nav-item{
    margin-top: 2vh;
    text-align: left;
}
.nav-item:hover{
    border-radius: 5px;
    background-color: rgb(156, 167, 167);
}
.nav-link{
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin: auto 0;
}
.nav-secundario{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 1vh;
}


