

    <div class="row">
      <div class="col">
        <div class="form-group">
          <input type="date" class="form-control" [(ngModel)]="selectedDate" (change)="onDateChange()">
        </div>
      </div>
      <div class="col"></div>
      <div class="col">
        <div class="inicio">
          <button type="button" class="btn btn-primary" (click)="misTickets()">
            Mis Tickets <span class="badge text-bg-secondary">4</span>
          </button>
        </div>
      </div>

      <div class="col">
        <div class="fin">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#crearTicketModal">
            CREAR TICKET
          </button>
        </div>
      </div>
    </div>





  <label for="buscador" class="form-label">Buscar Ticket</label>

  <input class="form-control" id="buscador" placeholder="Ingresa el codigo de ticket para buscar...">

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col"># TICKET</th>
        <th scope="col">TITULO</th>
        <th scope="col">ASIGNADO A</th>
        <th scope="col">FECHA Y HORA</th>
        <th scope="col">HORA ASIGNACION TEST</th>
        <th scope="col">ESTADO</th>
        <th scope="col">ACCIONES</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets$,index as i">
        <th scope="row">{{ticket.id.slice(-8)}}</th>
        <td>{{ticket.title}}</td>
        <td>{{ticket.assignedTo?.name+' '+ticket.assignedTo?.surname}}</td>
        <td>{{ticket.createdAt| date: 'HH:mm:ss dd-MM-yyyy '}}</td>
        <td>{{ticket.assignmentDate| date: 'HH:mm:ss dd-MM-yyyy '}}</td>
        <td>
          <button [ngClass]="{'btn btn-primary':(ticket.status=='OPEN')}">{{ticket.status}}</button>
        </td>
        <!-- <td><button type="button" class="btn btn-primary">Tomar</button>
          <button type="button" class="btn btn-secondary">Derivar</button>
          <button type="button" class="btn btn-success">Culminar</button></td> -->
          <td>
            <div class="dropdown">
              <a class="btn btn-info dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                +
              </a>

              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Tomar</a></li>
                <li><a class="dropdown-item" href="#">Asignar</a></li>
                <li><a class="dropdown-item" href="#">Culminar</a></li>
              </ul>
            </div>
          </td>
      </tr>

    </tbody>
  </table>
  <button class="btn btn-primary" (click)="prevPage()" [disabled]="isFirstPage()">Previous</button>
  <button class="btn btn-primary" (click)="nextPage()" [disabled]="isLastPage()">Next</button>


<!-- Modal Crear Ticket-->
<div class="modal fade" id="crearTicketModal" tabindex="-1" aria-labelledby="crearTicketModalL" aria-hidden="true" #ticketModal>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="crearTicketModalL">Crear Ticket</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="titulo" class="form-label">Título</label>
          <input type="email" class="form-control" id="titulo" placeholder="Ingresa el título del Ticket" formControlName="title">
        </div>
        <div class="mb-3">
          <label for="descripcion" class="form-label">Descripción</label>
          <textarea class="form-control" id="descripcion" rows="3" formControlName="description"></textarea>
        </div>
        <div class="mb-3">
          <label for="adjuntar" class="form-label">Adjuntar archivo?</label>
          <input class="form-control" type="file" id="adjuntar">
        </div>
        <div class="mb-3">
          <select class="form-select" aria-label="Default select example" formControlName="category">
            <option *ngFor="let categoria of categorias" [ngValue]="categoria">{{categoria.name}}</option>
          </select>
        </div>
        <div class="mb-3">
          <select class="form-select" aria-label="Default select example" formControlName="priority">
            <option value="1">Prioridad Baja</option>
            <option value="2">Prioridad Media</option>
            <option value="3">Prioridad Alta</option>
          </select>
        </div>
        <div class="mb-3">
          <select class="form-select" aria-label="Default select example" formControlName="assignedTo">
            <option *ngFor="let usuario of usuarios" [ngValue]="usuario">{{usuario.name+' '+usuario.surname}}</option>
          </select>
        </div>
        <button type="submit" [disabled]="formulario.invalid" class="btn btn-primary" data-bs-dismiss="modal">Guardar</button>
      </form>
      </div>
    </div>
  </div>
</div>
